body{
    text-align: center;
    background-color: azure;    
    padding: 10px;
    margin: 0px auto;
    width: 600px;
    height: 600px;
      
}

#content{    
    width: 400px;
    height: 500px;
    margin: 0 auto; 
    flex-direction: row; 
    
}
#square{
    border: 1px black solid;
    background-color: whitesmoke;
    width: 350px;
    height: 350px;
    margin-left: 10px;            
    float: left;
 
}
input[type=number]{    
    width: 50px;
    
}
input[type=radio]{        
    width: 10px;    
    margin-left: 40px;            
}


.groupButtons{
    width: 150px;
    text-align: right;
    padding: 5px;
    position: relative;
    float: left;
    flex-direction: column;
    margin-right: 20px;
}